body  {
  background-color: #FFFFE0; /*Warna kuning cerah */
  font-family: Arial, sans-serif; /* Jenis huruf yang bersih
  dan mudah dibaca */
  color: #191970; /* Warna teks utama (biru gelap) */
}

.kartu-profil { 
width: 300px;
  margin: 50 px auto;
 padding: 20px;
  background-color: white;
border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
}

.kartu-profil img {
  width: 150px;
  border-radius: 50%;
}

